.footer {
  background-color: rgb(0, 0, 0);
  /* opacity: 0.85; */
  height: 15rem;
}
.footer-div {
  width: fit-content;
  padding-top: 0.8rem;
  margin: auto;
  background-color: #000000;
}
/* div {
  color: #6c6f73;
  background-color: #000000;
} */
.div-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 1rem;
}

.select-div {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;

}

.select-div select {
  margin-top: 0.2rem;
  background-color: #000000;
  border: #6c6f73 solid;
  padding: 8px 16px;
  border-radius: 5px;
}

a {
  color: #6c6f73;
}

a :hover {
  color: #6c6f73;
  text-decoration: underline;
}

