@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: black;
  }

.gradient {

background: linear-gradient(180deg, rgba(255,255,255,0.000001) 0%, rgba(0,0,0) 100%);
}

.navbarBg {
background: linear-gradient(360deg, rgba(255,255,255,0.000001) 0%, rgba(0,0,0) 100%);

}